<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheng.hospital_server.mapper.AppointmentMapper">

    <insert id="add" parameterType="com.sheng.hospital_server.pojo.Appointment"
            useGeneratedKeys="true" keyColumn="appointment_id" keyProperty="appointmentId">
        insert into appointment(patient_id, doctor_id, user_id, appointment_date, appointment_time, status, information,
        schedule_id, fee)
        values (#{patientId}, #{doctorId}, #{userId}, #{appointmentDate}, #{appointmentTime}, #{status}, #{information},
        #{scheduleId}, #{fee})
        <!-- 嗯报错 -->
        <!--       <selectKey resultType="int unsigned" keyColumn="appointment_id" keyProperty="appointmentId" order="AFTER">-->
        <!--            select last_insert_id()-->
        <!--        </selectKey>-->
    </insert>

    <!-- 公共部分 -->
    <sql id="commonSelect">
        SELECT a.appointment_id,
               a.patient_id,
               a.doctor_id,
               a.user_id,
               a.appointment_date,
               a.appointment_time,
               a.status,
               a.information,
               a.schedule_id,
               a.fee,
               a.created_time,
               (SELECT CONCAT(
                               DATE_FORMAT(tb.start_time, '%H:%i'),
                               ' - ',
                               DATE_FORMAT(tb.end_time, '%H:%i')
                       ) AS appointment_time_info
                FROM time_bucket tb
                WHERE tb.bucket_id = a.appointment_time) AS appointment_time_info
        FROM appointment a
    </sql>

    <update id="update" parameterType="com.sheng.hospital_server.pojo.Appointment">
        update appointment
        set patient_id       = #{patientId},
            doctor_id        = #{doctorId},
            user_id          = #{userId},
            appointment_date = #{appointmentDate},
            appointment_time = #{appointmentTime},
            status           = #{status},
            information      = #{information},
            schedule_id      = #{scheduleId}
        where appointment_id = #{appointmentId}
    </update>

    <select id="getById" parameterType="int" resultType="com.sheng.hospital_server.pojo.Appointment">
        <include refid="commonSelect"/>
        WHERE a.appointment_id = #{appointmentId} and is_deleted = False
    </select>


    <select id="getByUserId" parameterType="int" resultType="com.sheng.hospital_server.pojo.AppointmentInfo">
        SELECT a.appointment_id,
               d.name                                    AS doctor_name,
               u.name                                    AS user_name,
               p.name                                    AS patient_name,
               s.name                                    AS specialization_name,
               a.appointment_date,
               a.appointment_time,
               a.status,
               a.fee,
               a.created_time,
               a.created_time                            AS created_time_stamp,
               (SELECT CONCAT(
                               DATE_FORMAT(tb.start_time, '%H:%i'),
                               ' - ',
                               DATE_FORMAT(tb.end_time, '%H:%i')
                       ) AS appointment_time_info
                FROM time_bucket tb
                WHERE tb.bucket_id = a.appointment_time) AS appointment_time_info
        FROM appointment a
                 -- 关联患者表获取患者名字
                 INNER JOIN patient p ON a.patient_id = p.patient_id
            -- 关联用户表获取用户名字
                 INNER JOIN user u ON a.user_id = u.user_id
            -- 关联医生表获取医生名字
                 INNER JOIN doctor d ON a.doctor_id = d.doctor_id
            -- 关联专业表获取专业名字
                 INNER JOIN specialization s ON d.specialization_id = s.specialization_id
        WHERE a.user_id = #{userId} and a.is_deleted = False
    </select>

    <select id="getByPatientId" parameterType="int" resultType="com.sheng.hospital_server.pojo.Appointment">
        <include refid="commonSelect"/>
        WHERE a.patient_id = #{patientId} and a.is_deleted = False
    </select>

    <select id="getByDoctorId" parameterType="int" resultType="com.sheng.hospital_server.pojo.Appointment">
        <include refid="commonSelect"/>
        WHERE a.doctor_id = #{doctorId} and a.is_deleted = False
    </select>

    <select id="getByScheduleId" parameterType="int" resultType="com.sheng.hospital_server.pojo.Appointment">
        <include refid="commonSelect"/>
        WHERE a.schedule_id = #{scheduleId} and a.is_deleted = False
    </select>

    <select id="getAll" resultType="com.sheng.hospital_server.pojo.AppointmentInfo">
        SELECT a.appointment_id,
               d.name                                    AS doctor_name,
               u.name                                    AS user_name,
               p.name                                    AS patient_name,
               s.name                                    AS specialization_name,
               a.appointment_date,
               a.appointment_time,
               a.status,
               a.fee,
               a.created_time,
               a.created_time                            AS created_time_stamp,
               (SELECT CONCAT(
                               DATE_FORMAT(tb.start_time, '%H:%i'),
                               ' - ',
                               DATE_FORMAT(tb.end_time, '%H:%i')
                       ) AS appointment_time_info
                FROM time_bucket tb
                WHERE tb.bucket_id = a.appointment_time) AS appointment_time_info
        FROM appointment a
                 -- 关联患者表获取患者名字
                 INNER JOIN patient p ON a.patient_id = p.patient_id
            -- 关联用户表获取用户名字
                 INNER JOIN user u ON a.user_id = u.user_id
            -- 关联医生表获取医生名字
                 INNER JOIN doctor d ON a.doctor_id = d.doctor_id
            -- 关联专业表获取专业名字
                 INNER JOIN specialization s ON d.specialization_id = s.specialization_id
        WHERE a.is_deleted = False
    </select>

</mapper>

