<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheng.hospital_server.mapper.PatientMapper">


    <insert id="add" parameterType="com.sheng.hospital_server.pojo.Patient"
            useGeneratedKeys="true" keyColumn="patient_id" keyProperty="patientId">
        insert into patient(name, gender, birth_date, phone, information, cleartext_id, plaintext_id, hashed_id)
        values (#{name}, #{gender}, #{birthDate}, #{phone}, #{information},
                #{cleartextId}, #{plaintextId}, #{hashedId})
    </insert>

    <update id="update" parameterType="com.sheng.hospital_server.pojo.Patient">
        update patient
        set name         = #{name},
            gender       = #{gender},
            birth_date   = #{birthDate},
            phone        = #{phone},
            information  = #{information},
            cleartext_id = #{cleartextId},
            plaintext_id = #{plaintextId},
            hashed_id    = #{hashedId}
        where patient_id = #{patientId}
    </update>
</mapper>

