<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheng.hospital_server.mapper.ScheduleMapper">
    <select id="getInfoBySpecializationIdAndDate" resultType="com.sheng.hospital_server.pojo.ScheduleInfo">
        SELECT s.schedule_id,
               s.specialization_id,
               s.doctor_id,
               d.name AS doctorName,
               d.photo_url,
               d.title_id,
               d.introduction,
               s.date,
               s.time,
               s.available_number
        FROM schedule s
                 INNER JOIN doctor d ON s.doctor_id = d.doctor_id
        where s.specialization_id = #{specializationId}
          and s.date between #{startDate} and #{endDate}
    </select>


    <select id="getInfoByDoctorIdAndDate" resultType="com.sheng.hospital_server.pojo.ScheduleInfo">
        SELECT s.schedule_id,
               s.specialization_id,
               s.doctor_id,
               d.name AS doctorName,
               d.photo_url,
               d.title_id,
               s.date,
               s.time,
               s.available_number
        FROM schedule s
                 INNER JOIN doctor d ON s.doctor_id = d.doctor_id
        where s.doctor_id = #{doctorId}
          and s.date between #{startDate} and #{endDate}
    </select>

    <select id="getAllInfo" resultType="com.sheng.hospital_server.pojo.ScheduleInfo">
        SELECT s.schedule_id,
               s.specialization_id,
               s.doctor_id,
               d.name                        AS doctorName,
               d.photo_url,
               d.title_id,
               s.date,
               s.time,
               s.available_number,
               (SELECT CONCAT(
                               DATE_FORMAT(tb.start_time, '%H:%i'),
                               ' - ',
                               DATE_FORMAT(tb.end_time, '%H:%i')
                       ) AS appointment_time_info
                FROM time_bucket tb
                WHERE tb.bucket_id = s.time) AS time_info
        FROM schedule s
                 INNER JOIN doctor d ON s.doctor_id = d.doctor_id
    </select>


</mapper>

